@{
    Layout = "_GuestLayout";
}

@model int  

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_pizza_container">
                <!-- dati di dettaglio pizza -->
            </div>
        </div>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script type="text/javascript">
        //let pathSplit = window.location.pathname.split('/');
        //let id = pathSplit[pathSplit.length-1];
        axios.get(`/api/pizza/dettaglio/${@Model}`).then(res => {
            const pizza = res.data;
            document.querySelector('.js_pizza_container').innerHTML += `



                  <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="${pizza.image}" class="d-block mx-lg-auto img-fluid" alt="pizza" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h2 class="text-danger display-3 fw-bold lh-1 mb-3">${pizza.name}</h2>
                <h5 class="fs-3 fw-bold lh-1 mb-2">${pizza.category.name}</h5>
                <h3>${pizza.prezzo} €</h3>
                <p class="lead">${pizza.description}</p>


            </div>
        </div>
    </div>

                            `
                                                      ;
        }).catch(error => console.log(error))
    </script>

